/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'simditor'
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-head{
  background: #FFF;
}

body{
  background: #e5e5e5;
}

#new{
  margin-top: 71px;
}
.h1{
  text-align: center;
}

.bg{
  margin-top: 73px;
  img{
    margin-top: -22px;
    position: absolute;
  }
}
.user_image{
  padding: 30px;
  img{
    border: 4px solid #FFF;
  }
}
#NO{
  background: none;
  border: none;
  padding-left: 80px;
  position: relative;
  top: 20px;
  font-weight: bold;
  color: #FFF;
  font-size: 12px;
}
.media-body{
  padding-left: 107px;
  .list-group{
    .list-group-item{
      background: none;
      border: none;
      color: #FFF;
      font-size: 2rem;
      float: left;
      padding-top: 3px;
    }
    .topic-rank{
      font-size: 14px;
      padding-top: 6px;
      margin-left: 18px;
    }
    .school{
      padding: 29px 17px;
      position: absolute;
      font-size: 1em;
      color: #FFF;
    }
  }
  .like-count{
    position: relative;
    top: 40px;
    left: -129px;
    font-size: 3em;
    margin-top: -17px;
    color: #FF4500;
  }
  .topics{
    margin-top: 57px;
    margin-left: 5px;
  }
  .jizhan{
    position: relative;
    left: 108px;
    top: 34px;
    height: 90px;
  .btn{
    color: #FFF;
    font-size: 1em;
    text-decoration: underline;
    }
  }
}

#phb{
  margin-left: -7px;
}

.section{
  margin-top: -55px;
  img{
    margin-top: 71px;
  }
  .hdgz{
    height: 34px;
    width: 89px;
    position: relative;
    top: 120px;
    left: 41px;
    color: #FFF;
    font-size: 1em;
    border: 2px solid #FFF;
    border-radius: 22px;
  .p{
    padding: 4px 13px;
    font-size: 1em;
    }
  }
}

.form{
  text-align: center;
  .input{
    height: 31px;
    width:21%;
    margin: 0 auto;
    border: 1px solid red;
    border-radius: 12px;
  }
  .search{
    width: 32px;
    position: relative;
    top: 12px;
    left: -34px;
  }
  .all-title{
    float: right;
    position: relative;
    right: 480px;
    top: 8px;
    width: 98px;
    border-radius: 18px;
    border: 1px solid red;
    background: #990000;
    color: #FFF;
  }
  .top50{
    margin-top: -50px;
  .p50{
    position: relative;
    top: 64px;
    left: 50px;
    font-weight: bold;
    color: #FFF;
    font-size: 2rem;
    }
  .h6{
    position: relative;
    left: 108px;
    top: 36px;
    }
  }
  .list-group-item{
    background: none;
    border: none;
    margin-top: -55px;
    height: 100px;
  }
}
.revrank{
  position: relative;
  left: -196px;
  top: 68px;
  font-size: 1em;
  color: #FFF;
}
.id{
  position: relative;
  left: -148px;
  top: 48px;
  font-size: 1em;
}
.name{
  position: relative;
  right: 104px;
  top: 28px;
  font-size: 1em;
}
.title{
  position: relative;
  left: 148px;
  top: -27px;
  font-size: 1em;
}
.users{
  margin-top: 22px;
}

#content{
  margin: 0 auto;
  margin-top: 9rem;
  font-size: 1em;
  font-family: "黑体";
  .content-title{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
  }
  #p{
    text-indent: 14px;
  }
}

.bg-img{
  margin-top: 50px;
  .all_ranks{
    font-size: 1em;
    border: 1px solid red;
    border-radius: 8px;
    background: #FFF;
    position: absolute;
    top: 20%;
    opacity: 0.96;
    width: 98%;
    margin: 0.2rem;
    #table{
      margin: 0 auto;
      width: 97%;
      color: #999695;
      th, td{
        text-align: center;
      }
      tr{
        background: #FFF;;
      }
      tr:nth-child(even){
        background: #e3e3e3;
      }
    }
  }
}